@model Reveries.ViewModels.UserRegister
@{
    Layout = null;
    ViewBag.Title = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <!-- Start: Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- End: Meta Tags -->
    <title>Register</title>
    <!-- Start: Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <!-- End: Favicon Icon -->
    <!-- Start: CSS Files Include -->
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/material-icons.css">
    @Styles.Render("~/css/font-awesome.min.css")
    <!--<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <!-- End: CSS Files Include -->
   
</head>
<body>
    <header>
        <div class="row myMain login">
            <div class="col s12 center-align">
                <a class="">
                    <div class="logo">
                        <img style="max-height:120px" src="img/logoNoText.png" alt="logo" class="responsive-img logoPinTop" />
                    </div>
                    <h2 style="color:darkred" class="flow-text">Reveries</h2>
                </a>  
                <form method="post">
                    <div class="row">
                        <div class="col s10 offset-s1 m4 offset-m4 center-block">
                            <div class="input-field red darken-2 white-text">
                                <i class="material-icons prefix">perm_identity</i>
                                <input placeholder="Username" id="username" type="text" class="validate" name="username">
                                <label for="username"></label>
                            </div>
                            <div class="input-field red darken-2 white-text">
                                <i class="material-icons prefix">email</i>
                                <input placeholder="Email" id="email" type="email" class="validate" name="email">
                                <label for="email"></label>
                            </div>
                            <div class="input-field red darken-2 white-text">
                                <i class="material-icons prefix">face</i>
                                <input placeholder="Name" id="fname" type="text" class="validate" name="name">
                                <label for="fname"></label>
                            </div>
                            <div class="input-field red darken-2 white-text">
                                <i class="material-icons prefix">lock_outline</i>
                                <input placeholder="Password" id="password" type="password" class="validate" name="password">
                                <label for="password"></label>
                            </div>
                            <div class="input-field red darken-2 white-text">
                                <i class="material-icons prefix">lock_outline</i>
                                <input placeholder="Confirm Password" id="confPassword" type="password" class="validate" name="confirmPassword">
                                <label for="confPassword"></label>
                            </div>
                            <div class="input-field inputSelect">
                                <select name="gender">
                                    <option value="" disabled selected>Choose your Gender</option>
                                    <option value="1">Male</option>
                                    <option value="2">Female</option>
                                </select>
                                <label>Gender</label>
                            </div>
                            <div class="input-field inputDate">
                                <label for="birth">Birthdate</label>
                                <input style="min-height:50px" placeholder="Pick A Date" id="birth" type="date" class="datepicker" name="birthDate">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 offset-m3">
                            <a onclick="$(this).closest('form').submit(); return false;" href="#!" class="btn waves-effect waves-light btn-large red darken-2 page-scroll myButton">Signup</a>
                        </div>
                    </div>
                    @Html.ValidationSummary()
                </form>
            </div>
        </div>
    </header>
    <script type="text/javascript" src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize.min.js"></script>
    <script type="text/javascript" src="~/Scripts/myScript.js"></script>
</body>
</html>
