@model Reveries.ViewModels.HomeSearch
@{
    Layout = null;
}


<div class="container" style="margin-top:50px">
    <div class="row jqa">
        @foreach (var user in Model.Users)
            {

            <div class="col s4">
                <a href="#">
                    <div class="card medium">
                        <div class="card-image">
                            <img src="img/logoNoText.png">
                        </div>

                        <div class="card-content">
                            <span class="card-title">@user.Name</span>
                            <p style="color:gray; font-size:20px;">@user.Username</p>
                            <p style="color:black">
                                @user.About
                            </p>
                        </div>
                    </div>
                </a>
            </div>
           
        }
    </div>
</div>


    <script>

        $(document).scroll(function (e) {

            var scrollHeight = $(document).height();
            var scrollPosition = $(window).height() + $(window).scrollTop();

            if ((scrollHeight - scrollPosition) / scrollHeight < 0.05) {

                $('.container').append("<div class=\"temp\" style=\"left: 50%;\"> <img src=\"img/spiffygif_138x138.gif\" /> </div>");
                $.post("@Url.Action("SearchCards" , "Home")", { username: $('#search').val(), skip: $('.card').length }, function (data) {
                    $('.temp').remove();
                    $('.jqa').append(data);
                    
                }).fail(function () {

                    alert("error")
                });
                

            }
            return false;
        });


    </script>
